.coursefilter{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  &__nav{
    &-list{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      list-style: none;
      white-space: nowrap;
      padding: 0;
      a{
        text-decoration: none;
        color: black;
      }
      &-tag:hover{
        border-bottom: solid 2px #724BCB;
      }

      &-tag{
        margin-left: 30px;
        margin-bottom: 20px;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px;
      }
      &-tag:first-child{
        margin-left: 0;
      }
    }
  }
}