@import "../../assets/styles/styles.scss";

.topheader{
  // width: 70vw;
  height: 10vh;
  background-color: #FFFFFF;
  display: flex;
  border-bottom: solid 2px #EDE8F8;
  margin-top: 5px;
  margin-bottom: 50px;
  padding-left: 50px;
  min-height: 150px;
  &__header{
    color: #2D3748;
    font-family: "Poppins";
    padding-top: 55px;
  }
}
.btn{
  // width: fit-content;
  // height: fit-content;
  margin-right: 130px;
  margin-top: unset;
  margin-top: 30px;
}