@import "../../assets/styles/styles.scss";
.topheader{
  width: 100vw;
  height: 10vh;
  background-color: #FFFFFF;
  display: flex;
  border-bottom: solid 2px #EDE8F8;
  &__heading{
    font-family: "Poppins";
    color: #2D3748;
  }
}