.filter {

    &-heading {
    display: flex;
    align-items: center;
    }

    &-list {
    display: absolute;
    transition-duration: 0.5s;
    text-decoration: none;
    }

    &-heading:hover {
        cursor: pointer;
    }
}

.filter-open {
    position: absolute;
    display: block;
    visibility: visible;
}

    // ul li ul {
    //     visibility: hidden;
    //     opacity: 0;
    //     position: absolute;
    //     transition: all 0.5s ease;
    //     margin-top: 1rem;
    //     left: 0;
    //     display: none;
    // }

//    ul li ul {
//         visibility: visible;
//         opacity: 1;
//         display: block;
//    }

//    ul li ul li {
//      clear: both;
//      width: 100%;
//    }