@import "../../assets/styles/styles.scss";

.main-student {
    background-color: $color-secondary-light;
    width: 100%;
    img {
        cursor: pointer;
    }
}

.student-heading {
    display: flex;
    justify-content: space-between;
    &__subsets {
        display: flex;
    }
}

.pagination {
    display: flex;
    align-items: flex-start;
}
