@import "../../../assets/styles/styles";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.students{
    text-align: center;
}

.student-list{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    background-color: $color-base-light;
    box-shadow: 0px 30px 30px $color-secondary-default-opacity;
    border-radius: 7px;
    margin: 10px;
    font-family: $font-family-primary;
    font-size: 12px;

    &__data{
        color: $color-primary-light;
    } 
}
