@import "_variables.scss";

.button1{
    width: 130px;
    height: 50px;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px;
    border: none;
}

// Purple Save button
.button-primary{
    background-color: #724BCB;
    color: white;
}

// White buttom
.button-secondary{
    background-color: $default;
    color: $secondary;
    border: 1px solid #724BCB;
}

// wider purple button
.button-tertiary{
    background-color: #724BCB;
    color: white;
    width: 255px;
    height: 42px;
    border: 1px solid #724BCB;
}

//grey Cancel button
.button-fourth{
    background-color: #7C768A;
    color: $default;
    width: 145px;
    height: 39px;
    opacity: 0.25;
}

//white with red border Delete User Cancel button
.button-fifth{
    background-color: $default;
    color: #EE6161;
    width: 132px;
    height: 38px;
    border: 0.804878px solid #EE6161;
    border-radius: 5.63415px;
}

//red with white text Delete User Confirm button
.button-sixth{
    background-color: #EE6161;
    color: $default;
    width: 132px;
    height: 38px;
    border-radius: 5.54167px;
}