@import "_variables.scss";

//Width to be assigned within its container!.(check line 7)


.button{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px;
    border: none;
}

// Purple Save button
.primary{
    background-color: #724BCB;
    color: white;
}

// White buttom
.primary-border{
    background-color: $default;
    color: $secondary;
    border: 1px solid #724BCB;
}

//red with white text Delete User Confirm button
.secondary{
    background-color: #EE6161;
    color: $default;
    height: 38px;
    border-radius: 5.54167px;
}
//white with red border Delete User Cancel button
.secondary-border{
    background-color: $default;
    color: #EE6161;
    height: 38px;
    border: 0.804878px solid #EE6161;
    border-radius: 5.63415px;
}







// // wider purple button
// .button-tertiary{
//     background-color: #724BCB;
//     color: white;
//     width: 255px;
//     height: 42px;
//     border: 1px solid #724BCB;
// }
