// For more customisations... Go over to https://getbootstrap.com/docs/5.0/customize/sass/
$primary: #CE7DA5;
$secondary: #420072;
$success: #8EB987;
$danger: #EE2C43;
$default: #F2F2FF;

$font-family-sans-serif: "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";
$font-family-serif:      "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";
$font-family-monospace:  "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";
$font-family-base:       "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";

