@import "../../assets/styles/styles.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainCourse{
  background-color: #f8f8ff; //ebebf5
  width: 100%;
  min-height: 100vh;
  // font-family: "Poppins";
}
.courses {
    text-align: center;
}
p{
  font-size: 12px;
}

.names{
  // margin-left: 10px;
}

.selfnames{
  // margin-left: 20px;
}
